* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
    font-size: 1.5rem;
}

nav {
    min-height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Btn-library {
    padding: 1rem 2rem;
    background: black;
    color: #fff;
    border: 1px solid #636363;
    cursor: pointer;
    z-index: 100;
}

.Btn-library:hover {
    background: transparent;
    color: black;
}


/* Song-container */

.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.song-container .song-img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
}

.song-img {
    animation: imgAnimate 10s ease-in-out infinite;
}

@keyframes imgAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.song-description {
    padding: 2rem;
    text-align: center;
}

.song-description h4 {
    padding: 0.5rem;
}

.player-container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-control {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.time-control p {
    padding: 1rem;
}

.time-control input[type="range"] {
    width: 100%;
}

.time-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}

.time-control input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
}

.play-control {
    padding: 2rem;
    display: flex;
    width: 50%;
    justify-content: space-around;
}


/* Library */

.library {
    width: 30rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    box-shadow: 5px 5px 5px 10px rgb(202, 202, 202);
    overflow: scroll;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
}

.library h2 {
    padding: 1.5rem;
}

.library.library-active {
    transform: translateX(0);
    opacity: 1;
}

.library-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    transition: 0.5s;
}

.library-song:hover {
    background: rgb(207, 121, 142);
}

.library-song img {
    width: 30%;
    pointer-events: none;
}

.library-song-active {
    background: red;
}

.song-info {
    padding: 2rem;
    color: #343434;
    text-align: center;
    flex: 1;
    pointer-events: none;
}